.sidebar{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 50px;
  width: 70px;

  padding-top: 5px;

  background-color: white;

  z-index: 200;
}

.sidebar-link{
  height: 73px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  cursor: pointer;
}

.sidebar-link:hover{
  background-color: rgb(237, 237, 237);
}

.sidebar-link img{
  height: 24px;
  margin-bottom: 4px;
}

.sidebar-link div{
  font-family: Roboto, Arial;
  font-size: 10px;
  
}